<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>


<h3 align="center"> Login with your registered email </h3>
<form action="/loginprocessor" method="post" algin="center">
  
      <input type="hidden" name="toItem" th:value="${item}"/>  
      
      Email   :  <input type="email" name="email" placeholder="abc@gmail.com"  ng-maxlength="100" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required="true"/> <br/> <br/>
       
       
      Password:       <input type="password" name="password" required="true"/> <br/> <br/>
            
            <input type="submit" value="Login"/>
     
</form>
</body>
</html>